body {
    background-image: url('../images/background-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.pokemon-info {
    width: 80%;
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.pokemon-info th {
    text-align: center;
    font-weight: bold;
}

.pokemon-info img {
    width: 300px;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

.pokemon-info table {
    width: 100%;
    border-collapse: collapse;
}

.pokemon-info table td,
.pokemon-info table th {
    padding: 10px;
    border: 1px solid black;
}

.pokemon-info table th {
    background-color: #f2f2f2;
}

.pokemon-name,
.pokemon-id,
.pokemon-height-weight,
.pokemon-types {
    margin-top: 20px;
    font-size: 30px;
}

.pokemon-name input[type="text"],
.pokemon-name input[type="submit"] {
    width: 200px;
    height: 40px;
    font-size: 16px;
}
